/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 






:root {
  --color-primary: #2B2B2B;
  --color-primary-alt: #fdf8ef;
  --color-secondary-alt: #FDF999;
  --color-secondary: #FF1BB1;
  --color-background: #19473B;
  --font-family: "Halant";
  --font-weight-strong: 500;
  --font-size-h1: 5rem;
  --font-size-h2: 2.3rem;
  --font-size-h3: 1.3rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 13px;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

#whowasisabella, #investigation {
  background-color: var(--color-primary-alt);
  color: var(--color-primary)
}
#themuseum, #today {
  background-color: #fffdbd;
}



#robberynight, #learnmore {
  background-color: var(--color-primary);
  color: var(--color-primary-alt);
}

#robberynight blockquote{
  background-color: var(--color-primary-alt);
  max-width: 50ch;
  color: var(--color-primary);
}

#theaftermath {
  background-color: var(--color-background);
  color: var(--color-primary-alt);
}



@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#gossip {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
font-style: italic;}

p, blockquote, figcaption, ul, li, h4 {
  font-family: 'Halant';
  font-weight: 400;
  
  font-size: 1rem;
  text-align: start;
  
}
h1 {
  background-color: var(--color-primary);
  color: white;
  width: 20em;
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  padding: 1em;
  
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding-top: 1em ;
  font-size: 2.3rem;
  margin-bottom: .5em;
  
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  margin: .5em 0em;
}

blockquote {
  background-color: var(--color-secondary);
  color: white;
  margin: 1em auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.05em;
  text-transform: normal;
  padding: 1em;
  max-width: 30ch;
}

#themuseum blockquote{
  background-color: var(--color-primary);
  max-width: 50ch;
  margin-top: -1em;
}

#themuseum h4{
  font-style: italic;
  text-align: end;
  margin: 2em;
}

h2 {
  scroll-snap-type: y mandatory;
}

.themewrapper {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

* {
  font-size: 20px;
  margin: 0;
}

@font-face {
  font-family: Halant;
  font-style: normal;
  src: local("Halant"), url(/fonts/Halant-regular.ttf) format("truetype");
}
article {
 
}

html {
  scroll-snap-type: y mandatory;
}


section {
  margin: 1em;
  max-width: 85vw;
  text-align: start;
}





nav {
  width: 100vw;

  background-color: var(--color-secondary-alt);

}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


nav ul li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 1em 2em;
}

.box {
  display: block;
  background-color: red;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}


.scroll-section {
 
  scroll-snap-type: mandatory;
  }
 


@media (max-width: 600px) {
  
  .biogrid img{
    max-width: 8em;
    margin: auto;
    align-self: start;
    margin-top
    
  }
  
  section {
    margin: auto;
    text-align: start;
    padding: .5em 0em;
  }
  p {
    margin: .5em;
  }

  .stolenpainting img{
    width: 2em;
  }
  .stolenpainting {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 1em auto;
    
    transition: transform 0.3s;
  
  }
  .stolenpaintingv img{
    width: 2em;
    justify-items: right;
  }
  .stolenpaintingv {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 4em auto;
   
    justify-items: right;
    transition: transform 0.3s;
  }

 
  
  .stolenpaintingv:hover, .stolenpainting:hover {
  
    transform: scale(1.1);
   
  }

  .frame {
    padding: 5px;
   
    background-color: var(--color-background);
  }

.placard {
    background-color: white;
    font-size: 0.5rem;
    
    margin: auto;
    max-width: 45em;
    margin-top: 3em;
    padding: 10px;
    color: var(--color-primary);
}
.placard h4, .placard p {
    text-align: left;
    font-size: .8rem;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
}


.anecdotegrid {
  max-width: 30em;
  margin: auto;
  
}
.anecdote {
  display: flex;
  max-height: 500px;
  transition: ease-in-out;
}

.anecdote img {
max-width: 10em;
}

.anecdotegrid blockquote {
font-size: 1em;
text-justify: center;
margin: 1em auto auto auto;
background-color: white;
color: var(--color-primary);
text-transform: none;
}



.anecdotegrid .leftquote {
border: .8px solid var(--color-primary);
border-radius: 15px 15px 15px 1px;
}
.anecdotegrid .rightquote {
border: .8px solid var(--color-primary);
border-radius: 15px 15px 1px 15px;
}
.anecdotegrid .anecdote {
transition: transform 0.3s;
}
.anecdotegrid .anecdote:hover {
margin: auto;
transform: scale(1.1);

}

.anecdotegrid p {
font-size: .8em;
font-style: italic;
text-align: center;
margin: 0;
color: var(--color-primary);
text-transform: none;
}
  
.cluegrid {
  
  margin: auto;
  
}
.clue:nth-last-of-type(odd) {
  display: grid;
  max-width: 80vw;
  grid-template-rows: auto;
  transition: ease-in-out;

  justify-items: center;
  margin-top: 3em;
}
.clue:nth-last-of-type(even) {
  display: grid;
  max-width: 80vw;
  grid-template-rows: auto;
  transition: ease-in-out;
  justify-items: center;

  
  margin: 1em 0em;
}
.suspectcard ul li, .suspectcard p {
  font-size: .8em;

}
.suspectcard {
padding: 1em;


background-color: white;
margin: 1em;
border-radius: 20px;
border: 1px solid black;
}
.cluegrid p {

text-justify: center;
margin: 1em auto auto auto;

color: var(--color-primary);
text-transform: none;
}

#investigation .cluecard img{
  max-width: 60vw;
}

.cluegrid .clue {
transition: transform 0.3s;
}


}





  @media (min-width: 600px) {

    .cluegrid {
        
      margin: auto;
      
    }
    .clue {
      display: flex;
      align-items: center;
     height: 17em;
      transition: ease-in-out;
    }
  
    .suspectcard ul li, .suspectcard p {
      font-size: .8em;
    }
  .suspectcard {
    padding: 1em;
    
    background-color: white;
    margin: 1em;
    border-radius: 20px;
    border: 1px solid black;
  }
  .cluegrid p {
    
    text-justify: center;
    margin: 1em auto auto auto;
    
    color: var(--color-primary);
    text-transform: none;
  }
  
  #investigation .cluecard img{
    height: 15em;
  }
  
  .cluegrid .clue {
    transition: transform 0.3s;
  }
  .cluegrid .clue:hover {
    margin: auto;
    transform: scale(1.1);
   
  }
    
    
    section {
      
    }
    #hero {
      height: $heroHeight;
      overflow: hidden;
      position: relative;
      max-width: 2200px;
      margin: 0 auto;
    }
    
    .layer {
      background-position: bottom center;
      background-size: auto;
      background-repeat: no-repeat;
      width: 100%;
      height: $heroHeight;
      position: fixed;
      z-index: -1;
    }
    
    #hero-mobile {
      display: none;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
      height: 320px;
    }
    
    .first-section {
      padding: 50px 0 20px 0;
    }
    .text-header {
      font-size: 50px;
      text-align: center;
    }
    
    
    #hero, .layer {
      min-height: 800px;
    }
    
    .layer-bg {
      background-image: url('/images/headerpics/bg.png');
  
    }
    .layer-1 {
      background-image: url('/images/headerpics/anotherlayer.png');
      background-position: left bottom;
    }
    .layer-2 {
      background-image: url('/images/headerpics/isabella.png');
    }
    .layer-3 {
      background-image: url('/images/headerpics/cautiontape.png');
      background-position: right bottom;
    }
    
   
    

   
    .biogrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      font-style: ;
      gap: -5px;
      grid-auto-flow: column;
  
    
      align-items: center;
      
    }
    .biogrid img{
      max-width: 15em;
      align-self:center; 
    grid-row-start: ;
      padding: -5em;
      grid-row: 1;
 
     margin: 0;
     justify-self: center;
    }
    
    section {
      margin: auto;
      text-align: start;
      padding: 1em 0em;
      
    }
    p {
      margin: 1em 3em;
    }

    .stolenpainting img{
      height: 300px;
      width: 380px;
    }
    .stolenpainting {

      display: grid;
      grid-template-rows: 3fr 2fr;
      margin: 1em auto;
      gap: 10px;
      justify-items: center;
      transition: transform 0.3s;
    
    }
    .stolenpaintingv img{
      height: 375px;
      
      justify-items: right;
    }
    .stolenpaintingv {
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      
     
      justify-items: right;
      transition: transform 0.3s;
    }

    

   
    
    .stolenpaintingv:hover, .stolenpainting:hover {
    
      transform: scale(1.1);
     
    }

    .frame {
      padding: 5px;
     
      background-color: var(--color-background);
    }

 .placard {
      background-color: white;
      font-size: 0.5rem;
      max-width: 380px;
      max-height: 150px;
      margin-top: 3em;
      padding: 10px;
      color: var(--color-primary);
  }
.placard h4, .placard p {
      text-align: left;
      font-size: .8rem;
      line-height: 1.2;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 0;
  }

  #intro {
    border: 1px solid var(--color-primary);
    background-color: white;
    border-radius: 15px;
    padding: 1em;
  }
  .anecdotegrid {
    max-width: 30em;
    margin: auto;
    
  }
  .anecdote {
    display: flex;
    max-height: 500px;
    transition: ease-in-out;
  }

.anecdote img {
  max-width: 10em;
}

.anecdotegrid blockquote {
  font-size: 1em;
  text-justify: center;
  margin: 1em auto auto auto;
  background-color: white;
  color: var(--color-primary);
  text-transform: none;
}



.anecdotegrid .leftquote {
  border: .8px solid var(--color-primary);
  border-radius: 15px 15px 15px 1px;
}
.anecdotegrid .rightquote {
  border: .8px solid var(--color-primary);
  border-radius: 15px 15px 1px 15px;
}
.anecdotegrid .anecdote {
  transition: transform 0.3s;
}
.anecdotegrid .anecdote:hover {
  margin: auto;
  transform: scale(1.1);
 
}

.anecdotegrid p {
  font-size: .8em;
  font-style: italic;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  text-transform: none;
}
}





.globegrid {
  
}

    #globe {
      width: 15em;
      float: left;
      float: right;
    }
      @keyframes spin {
        to {
          transform: rotateY(18turn);
        }
      }
      
      @media (prefers-reduced-motion: no-preference) {
        #globe {
          animation: spin 5s ease infinite;
        }
      }
      
      @layer demo.support {
        #globe {
          /* center the star in the div */
          display: grid;
          place-content: center;
        }
      }
      @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: scroll()) {
          #globe {
            animation: spin linear both;
            animation-timeline: scroll();
          } 
        }
      }
    
      
      .sliderinstruct1 {
       
        
      
      }
      

      
      #comparison {
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden; 
        position: relative;
        margin-right: 0;
       
  
      }
      .comparisongrid {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
       
        grid-auto-flow: column;
        margin-bottom: 1em;
        
        margin: auto;
        gap: 1px;
        align-items: center;
      }
      
      #comparisonframe {
       
        width: 20em;
      }

      figcaption {
        font-style: italic;
      }
      figure { 
        position: absolute;
        background-image: url('/images/beforeafter/2.png');
        background-size: cover;
        font-size: 0;
        width: 100%;
        height: 100%;
        margin: 0; 
      }
      
      #divisor { 
        background-image: url('/images/beforeafter/1.png');
        background-size: cover;
        position: absolute;
        width: 50%; 
        box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
        bottom: 0; height: 100%;
        
        &::before,
        &::after {
          content: '';
          position: absolute;
          right: -2px;
          width: 4px;
          height: calc(50% - 25px);
          background: white;
          z-index: 3;
        }
        &::before {
          top: 0;
          box-shadow: 0 -3px 8px 1px rgba(0,0,0,.3);
        }
        &::after {
          bottom: 0;
          box-shadow: 0 3px 8px 1px rgba(0,0,0,.3);
        }
      }
      #handle {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        
        &::before,
        &::after {
          content: '';
          width: 0;
          height: 0;
          border: 6px inset transparent;
          position: absolute;
          top: 50%;
          margin-top: -6px;
        }
        &::before {
          border-right: 6px solid white;
          left: 50%;
          margin-left: -17px;
        }
        &::after {
          border-left: 6px solid white;
          right: 50%;
          margin-right: -17px;
        }
      }
      
      input[type=range]{
        -webkit-appearance:none;
        -moz-appearance:none;
        position: absolute;
        top: 50%; left: -25px;
        transform: translateY(-50%);
        background-color: transparent;
        width: calc(100% + 50px); 
        z-index: 2;
        
        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: transparent;
        border: 4px solid white;
        box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
      }
      input[type=range]::-moz-range-track {
        -moz-appearance:none;
        height:15px;
        width: 100%;
        background-color: transparent; 
        position: relative;
        outline: none;    
      }

#alarmgrid {

}
      #alarm-button {
        background-color: #FF1BB1;
        padding: 1em;
        border-radius: 150px;
        margin: auto;
        float: right;
        width: 7em;
        height: 7em;
        border: 1px solid white;
        transition: ease-in-out;
        transition: transform 0.3s;
      }

      #alarm-button:hover {
        transform: scale(1.1);
      }

      #alarm-button p {
        color: var(--color-primary-alt);
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        margin: auto;
        width: 5em;
        height: 5em;
        font-family: Arial, Helvetica, sans-serif;
      }


     
      
      #alarm-overlay {
        position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  backdrop-filter: invert(2);
  display: none; 
  z-index: 1000;
      }
     
#scrollmap{
 margin: auto;
}




      .svg-container {
        
        background-image: url(/images/museummap.jpeg);
      background-size: cover;
  
       width: 30em;
       margin: auto;
    
        align-items: center;
        justify-content: center;
      }

      svg {
        height: 100%;
        margin: auto;
      }
      .bigspacer {
   
      }


#lastditch{ 
  margin: auto;
 display: flex;
 flex-wrap: wrap;
}
    
      
      
      .damagecounter {
          
        justify-items: center;
          align-items: center;
 
          margin: auto;
          margin-bottom: 2em;
      }
      
      #suspectsketches {
        width: 20em;
        float: left;
        background-image: url('/images/headerpics/newspaper.png');
        padding: 1em;
        margin:  0em 1em;
      }
.bigspacer {
  height: 3em;
  color: var(--color-primary);
  background-color: var(--color-primary);
}
      
.damagecontainer ul li {
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  list-style-type: none;
  
  margin: auto;
}

.damagegrid {
  background-color: pink;;
  grid-template-columns: 3fr 1fr;
}

#minutesCount, #moneyCount, #paintingsCount, .damagecontainer ul li {
  font-size: 50px;
  font-weight: 550;
  margin: auto;
}
#damagecontainer {
  margin-bottom: 3em;
}

      
       .pad {
        height: 4em;
       }

    #paintingtut {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      list-style-type: none;
     
      margin: auto;
     
      
    }
    #paintingtut li{
   
      
    
    
      border-radius: 15px;
    
    }

   #whattodo {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    max-width: 35em;
    margin: auto;
   }
    
   ol li {
    
    margin-left: 4em;
    max-width: 60ch;
   }